* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

.cat-friends {
  padding: 1rem;
  width: 400px;
  overflow: hidden;
}
.cat-friends.plus {
  width: 728px;
}
.cat-friends nav {
  display: flex;
  align-items: center;
  justify-content: center;
}
.cat-friends nav button {
  margin: .25rem;
  padding: 1px 6px;
}
.cat-friends div {
  width: 100%;
  overflow: hidden;
}
.cat-friends ul,
.cat-friends li {
  white-space: nowrap;
}
.cat-friends ul {
  padding-left: 20px;
}
.cat-friends li {
  display: inline;
  padding: .5rem;
}
